.contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titulo {
    margin: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Arial;
}

.formulario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.boton-calcular-container {
    padding: 10px 25px;
}

.btn-calcular {
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 13px;
}

label {
    font-size: 13px;
    margin: 0;
}

select {
    padding: 2px;
}

.colform {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 10px;
}